.container {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    border: 10px solid black;
    /* overflow: hidden; */
}

.slide {
    position: absolute;
    width: calc(800px * 3);     /* 800? */
    /* height: 400px; */
    /* animation-name: slide;
    animation-duration: 16s;
    animation-iteration-count: infinite; */
}

.slide img {
    width: 800px;
    height: 400px;
    /* float: left; */
}

@keyframes slide {
    /* position : absloute; + left */
    33.333% { left: 0; }
    66.666% { left: calc(-800px * 1); }
    100% { left: calc(-800px * 2); }

    /* transform : translateX() */
    /* 33.333% { transform: translateX(0); }
    66.666% { transform: translateX(calc(-800px * 1)); }
    100% { transform: translateX(calc(-800px * 2)); } */
} 