
.slide-container {
    margin: 20px auto;
    width: 700px;
    height: 400px;
}


.slide img {
    width: 700px;
    height: 400px;
}

.prev-arrow {
    position: absolute;
    left: -10%;
    top: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    z-index: 100;
    background: url(../img/prev.png) no-repeat center center / 40px 40px;
    outline: none;
    border: none;
    filter: brightness(10%);
    cursor: pointer;
}


.next-arrow {
    position: absolute;
    right: -10%;
    top: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    z-index: 100;
    background: url(../img/next.png) no-repeat center center / 40px 40px;
    outline: none;
    border: none;
    filter: brightness(40%);
    cursor: pointer;
}

.slick-dots {
    position: absolute;
    bottom: -30px;
}

.slide-arrow:hover {
    filter: brightness(70%);
}

/* 섹션 3번 */

.text-box1 {
    margin: 500px auto;
    width: 700px;
    height: 400px;
}

.img-box1 img {
    float: left;
    padding: 30px 20px;
    width: 350px;
    height: 400px;
}

.content-box1 {
    float: right;
    padding: 30px 20px;
    width: 250px;
    height: 400px;
}

.text-box1::after {
    display: block;
    content: '';
    clear: both;
}

/* 섹션 4번 */

.text-box2 {
    display: flex;
    justify-content: space-between;
    margin: 500px auto;
    width: 700px;
    height: 400px;
    background-color: lightblue;
}

.img-box2 img {
    padding: 30px 20px;
    width: 350px;
    height: 400px;
}

.content-box2 {
    padding: 30px 20px;
    width: 250px;
    height: 400px;
}


.button {
    position: relative;
    bottom: -200px;
    right: -170px;
    width: 100px;
    height: 40px;
    background-color: cornflowerblue;
    border-radius: 10px;
    border: none;
}

#button1 { right: -150px;}

.button:hover {
    cursor:pointer
}
